USE [master]
GO
/****** Object:  Database [SALES_MANAGEMENT]    Script Date: 01/01/2021 6:49:14 PM ******/
CREATE DATABASE [SALES_MANAGEMENT]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SALES_MANAGEMENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SALES_MANAGEMENT]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 01/01/2021 6:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fuConvertToUnsign1] ( @strInput NVARCHAR(4000) ) RETURNS NVARCHAR(4000) AS BEGIN IF @strInput IS NULL RETURN @strInput IF @strInput = '' RETURN @strInput DECLARE @RT NVARCHAR(4000) DECLARE @SIGN_CHARS NCHAR(136) DECLARE @UNSIGN_CHARS NCHAR (136) SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' +NCHAR(272)+ NCHAR(208) SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' DECLARE @COUNTER int DECLARE @COUNTER1 int SET @COUNTER = 1 WHILE (@COUNTER <=LEN(@strInput)) BEGIN SET @COUNTER1 = 1 WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) BEGIN IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) BEGIN IF @COUNTER=1 SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) ELSE SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) BREAK END SET @COUNTER1 = @COUNTER1 +1 END SET @COUNTER = @COUNTER +1 END SET @strInput = replace(@strInput,' ','-') RETURN @strInput END

GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 01/01/2021 6:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTHD](
	[MAHD] [varchar](20) NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[TEN] [nvarchar](100) NULL,
	[SOLUONG] [int] NULL,
	[DVT] [nvarchar](50) NULL,
	[DONGIA] [int] NULL,
	[TRIGIA] [int] NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 01/01/2021 6:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](20) NOT NULL,
	[MANV] [varchar](20) NOT NULL,
	[MAKH] [varchar](20) NULL,
	[THOIGIAN] [smalldatetime] NULL,
	[TONGGIATRI] [int] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 01/01/2021 6:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](20) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[SDT] [varchar](20) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIEM] [int] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 01/01/2021 6:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[SDT] [varchar](20) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[ANH] [text] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 01/01/2021 6:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUANLY](
	[MAQL] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[SDT] [varchar](20) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[ANH] [text] NULL,
 CONSTRAINT [PK_QUANLY] PRIMARY KEY CLUSTERED 
(
	[MAQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 01/01/2021 6:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](20) NOT NULL,
	[TEN] [nvarchar](100) NULL,
	[SOLUONG] [int] NULL,
	[DVT] [nvarchar](50) NULL,
	[GIANHAP] [int] NULL,
	[GIABANLE] [int] NULL,
	[HSD] [smalldatetime] NULL,
	[NHACUNGCAP] [nvarchar](100) NULL,
	[GHICHU] [nvarchar](100) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CTHD] ([MAHD], [MASP], [TEN], [SOLUONG], [DVT], [DONGIA], [TRIGIA]) VALUES (N'20NOV0001', N'3694362852260', N'Coca Cola 330ml', 3, N'Lon', 10000, 30000)
INSERT [dbo].[CTHD] ([MAHD], [MASP], [TEN], [SOLUONG], [DVT], [DONGIA], [TRIGIA]) VALUES (N'20NOV0001', N'6429981858495', N'Bánh AFC Vị lúa mì 200g', 1, N'Hộp', 27000, 27000)
INSERT [dbo].[CTHD] ([MAHD], [MASP], [TEN], [SOLUONG], [DVT], [DONGIA], [TRIGIA]) VALUES (N'20NOV0001', N'7903887909141', N'Mỳ Hảo Hảo Tôm chua cay', 5, N'Gói', 3000, 15000)
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [THOIGIAN], [TONGGIATRI]) VALUES (N'20NOV0001', N'NV003', N'KH00001', CAST(N'2020-11-07 00:00:00' AS SmallDateTime), 93000)
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [THOIGIAN], [TONGGIATRI]) VALUES (N'20NOV0002', N'NV003', N'KH00002', CAST(N'2020-11-18 00:00:00' AS SmallDateTime), 80000)
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [THOIGIAN], [TONGGIATRI]) VALUES (N'20OCT0001', N'NV002', N'KH00002', CAST(N'2020-10-05 00:00:00' AS SmallDateTime), 98000)
INSERT [dbo].[KHACHHANG] ([MAKH], [TEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [DIEM]) VALUES (N'KH00000', N'None', CAST(N'2001-01-01 00:00:00' AS SmallDateTime), N'Nam', N'1234567890', N'None', 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [DIEM]) VALUES (N'KH00001', N'Trần Thanh', CAST(N'1990-01-01 00:00:00' AS SmallDateTime), N'Nam', N'0915387624', N'Thủ Đức, TPHCM', 145)
INSERT [dbo].[KHACHHANG] ([MAKH], [TEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [DIEM]) VALUES (N'KH00002', N'Lê Trung Hậu', CAST(N'1983-04-05 00:00:00' AS SmallDateTime), N'Nam', N'0925743651', N'Bình Thạnh, TPHCM', 82)
INSERT [dbo].[NHANVIEN] ([MANV], [PASSWORD], [TEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [ANH]) VALUES (N'NV001', N'161217381747022820119720656236237850238247', N'Nguyễn Văn An', CAST(N'2001-01-01 00:00:00' AS SmallDateTime), N'Nam', N'0935735816', N'Thủ Đức, TPHCM', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [PASSWORD], [TEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [ANH]) VALUES (N'NV002', N'2282422021244143248137221361901441482301237', N'Trần Trung Hiếu', CAST(N'2000-10-10 00:00:00' AS SmallDateTime), N'Nam', N'0914758372', N'Bình Thạnh, TPHCM', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [PASSWORD], [TEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [ANH]) VALUES (N'NV003', N'36861675317221110947128204921723013142242', N'Trần Như Phương', CAST(N'1998-08-21 00:00:00' AS SmallDateTime), N'Nữ', N'0924587183', N'Dĩ An, Bình Dương', NULL)
INSERT [dbo].[QUANLY] ([MAQL], [PASSWORD], [TEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [ANH]) VALUES (N'QL001', N'13541541422814327128216551122161791976217', N'Vũ Minh Lộc', CAST(N'1992-03-16 00:00:00' AS SmallDateTime), N'Nam', N'0912517683', N'Thủ Đức, TPHCM', NULL)
INSERT [dbo].[SANPHAM] ([MASP], [TEN], [SOLUONG], [DVT], [GIANHAP], [GIABANLE], [HSD], [NHACUNGCAP], [GHICHU]) VALUES (N'3694362852260', N'Coca Cola 330ml', 43, N'Lon', 8000, 10000, CAST(N'2021-08-25 00:00:00' AS SmallDateTime), N'Coca-Cola', N'')
INSERT [dbo].[SANPHAM] ([MASP], [TEN], [SOLUONG], [DVT], [GIANHAP], [GIABANLE], [HSD], [NHACUNGCAP], [GHICHU]) VALUES (N'3925444825477', N'Sữa đậu nành Fami 200ml', 24, N'Bịch', 3500, 4000, CAST(N'2021-03-29 00:00:00' AS SmallDateTime), N'Vinasoy', N'')
INSERT [dbo].[SANPHAM] ([MASP], [TEN], [SOLUONG], [DVT], [GIANHAP], [GIABANLE], [HSD], [NHACUNGCAP], [GHICHU]) VALUES (N'6175747286674', N'7Up 330ml', 48, N'Lon', 8000, 10000, CAST(N'2021-05-12 00:00:00' AS SmallDateTime), N'Pepsi', N'')
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADON_MAHD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HOADON_MAHD]
GO
USE [master]
GO
